body {
	background-color: black;
	color: yellow;
	padding-left: 2vw;
}

p {
	margin: 0;
}

.red {
	color: red;
}

.orange {
	color: orange;
}

.bm {
	margin-bottom: 3vh;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.bdr {
	border: solid 1px yellow;
	margin: 1px;
}

.md-font {
	font-size: 1.8vw
}

.lg-font {
	font-size: 2.2vw	
}

.exp-width {
	width: 15vw;
}

.lhs-indent {
	margin-left: 10vw;
}

.flex-horiz {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.option-txt {
	background: black;
	color: yellow;	
}
