body {
	background-color: black;
}

p {
	margin: 0;
}

.app {
	text-align: center;
	background: black;
	color: yellow;
	padding-left: 1vw;
}

.app-header {
	align-items: center;
	justify-content: center;
	color: red;
	font-size: 1.5vw;
}

.bot-margin {
	margin-bottom: 3vh;
}

.tal {
	text-align: left;
}

.tac {
	text-align: center;
}

.bdr {
	border: solid 1px yellow;
	margin: 1px;
}

.sm-font {
	font-size: .8vw;
}

.md-font {
	font-size: 1vw
}

.lg-font {
	font-size: 1.4vw	
}

.exp-width {
	width: 10vw;
}

.lhs-margin {
	margin-left: 10vw;
}

.flex-horiz {
	display: flex;
	flex-wrap: wrap;
	justify-content: left;
}

.option-txt {
	background: black;
	color: yellow;	
}